---
Checks: 'bugprone-*,clang-analyzer-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'
FormatStyle: file
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case